/* global elements */

body, p  {
	margin: 0px;
	font-family: futura;
	-webkit-font-smoothing: antialiased;
}

* {
	vertical-align: top;
}

/* typography for main elements short */

h1, h6 {
  margin: 0;
}

/* navigation elements */

nav {
display: inline-block;
}

nav ul {
	background: none; 
	padding: 0;
	list-style: none;
	position: relative;
	display: inline-block;
}
	nav ul:after {
		content: ""; 
		clear: both; 
		display: block;
	}

nav ul li {
	float: left;
}

nav ul img {
		margin: -7px 20px 0px -15px;
}

nav ul > li:hover:first-child {
	display: none;
}

	nav ul li:hover {
		background: #4b545f;
		background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
		border-radius: 15px;
	}

		nav ul li:hover a {
			color: #fff;
		}

	nav ul li a {
		display: block; 
		padding: 4px 15px;
		text-decoration: none;
		text-transform: uppercase;
		color: #fff;
		font-size: 14px;
	}

.arrow-down {
	width: 0; 
	height: 0;
	padding: 0px 0px 0px 0px; 
	margin: 29px auto 0 auto;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;			
	border-top: 8px solid #fff;
	display: inline-block;
}


/* Main CSS */

header {
	width: 100%;
	margin: 0px;
	/*border: 0px solid #ff0066; */
	background: url('images/bgd_gradient.jpg') repeat-x;
	height: 60px;
}

.profile_contents {
	float:right;
	margin-right: 40px;
}

.profile_name {
	color: #fff;
	padding: 0px 4px 0px 0px;
}

.circle-picture {
	width: 42px;
	height: 42px;
	float: left;
	margin: 8px 6px 0px 0px;
	padding: 0px;
	background-image: url('images/horses2.jpg');
	border-radius: 50%;
	display: inline-block;
	background-color: rgb(242, 108,83);
	background-size: contain;
}

.call_to_action {
	width: 100%;
	height: 67px;
	padding: 0px;
	margin: 0px;	
	-webkit-box-shadow: 0 8px 6px -6px #ccc;
	-moz-box-shadow: 0 8px 6px -6px #ccc;
	box-shadow: 0 4px 4px -4px #ccc;
}

.call_to_action2 {
	font-size: 29px;
	height: auto;
	width: 924px;
	font-weight: normal;
	color: #333;

}

.main_content {
	background: rgb(242,240,236);
	width: 100%;
	height: 576px;
}

.left_menu {
	width: 620px;
	height: auto;
	margin: 27px 10px 0px 0px;
	display: inline-block;
}

.welcome {
	width: 620px;
	height: 400px;
}

.welcome_bttm {
	width: 620px;
	height: 83px;
	background: rgb(208,205,199);
}

.welcome_bttm h3 {
	font-size: 18px;
	padding: 0px 0px 0px 20px;
	margin: 19px 0px 0px 0px;
	color: #454545;
	letter-spacing: -1px;
	font-style: italic;
}

.content_info {
	position: relative;
	width: 620px;
	border: 0px solid #ff0066;
}

.content_title {
	position: absolute;
	width: 620px;
	height: 50px;  
	padding: 14px 0px 0px 0px;
   	background: rgb(0, 0, 0); /* fallback color */
   	background: rgba(0, 0, 0, 0.4);
}

.content_title span.l_title {
	padding: 0px 0px 0px 23px;
	width: 170px;
	font-size: 20px;
	letter-spacing: 1px;
	margin: 0px 0px 0px 0px;
	color: #fff;
	
}

.content_title span.r_title {
	padding: 0px 15px 0px 0px;
	float: right;
	width: auto;
	font-size: 14px;
	letter-spacing: 0px;
	margin: 0px 0px 0px 0px;
	color: #fff;
	opacity: 0.9;
}

.content_title img {
	margin: 0px 0px 0px 0px;
	padding: 0px 4px 0px 0px;
	display: inline;
}

.disclaimer {
	width: 509px;
	height: 45px;
}

.disclaimer_arrow img {
	height: 32px;
	width: 19px;
	margin: -15px 0px 0px 5px;
}

.disclaimer_arrow {
	height: 32px;
	width: 20px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	display: inline;
}

.disclaimer p {
	padding: 10px 0px 0px 0px;
	width: 480px;
	height: 32px;
	margin: 0px 0px 0px 0px;
	float: right;
	font-size: 11px;
	color: #777;
	line-height: 15px;
	display: inline;
}

/* ------------right menu---------------- */

.right_menu {
	width: 301px;
	height: auto;
	margin: 27px 0px 0px 0px;
	display: inline-block;
}

.bx_members {
	width: 139px;
	height: 151px;
	margin: 0px 9px 0px 0px;
	display: inline-block;
}

.bx_members_tp {
	height: 118px;
	width: 139px;
	background: #D0CDC7;
}

.bx_members_tp p{
	padding: 12px 0px 0px 0px;
	height: 106px;
	width: 138px;
	font-size: 67px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	text-shadow: 0px 2px 2px rgba(1, 1, 1, 0.2);
}

.bx_members_btm {
	height: 33px;
	width:139px;
	background: linear-gradient(to bottom, #BBB 0%,#B6AEA2 100%); /* W3C */
}

.bx_members_btm p {
	padding: 7px 0px 0px 0px;
	height: 19px;
	width: 138px;
	font-size: 13px;
	color: #444;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.3)
}

.join {
	width: 300px;
	height: 138px;
	margin-top: 10px;
}

.join-btn {
	position: relative;
	width: 300px;
	height: 62px;
	font-size: 21px;
	color: #fff;
	z-index: 10;
}

.reward_btn {
	position: absolute;
	width: 288px;
	margin: 0px 0px 0px 6px;
	height: 76px;
	border-radius: 4px;
	border: 1px solid #bbb;
	border-top: none;
	border-right: 1px solid #bbb;
	background: #fff;
	-moz-box-shadow:    inset 0 0 10px #000000;
   	-webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 4px 4px -4px #777;
}

.award {
	height: 71px;
	width: 39px;
	margin: 0px 0px;
	padding: 0px 0px;
	
}

.award img {
	margin: 0px 0px;
	padding: 10px 10px;
}

.award_info {
	height:50px;
	width: 220px;
	padding: 15px 0px 0px 15px;
}

.award_info p {
	font-size: 17px;
	color: #555;
	padding: 0px 0px 0px 0px;
	display: inline;
}

.warning {
	height: 33px;
	width: 292px;
	margin: 16px 0px 0px 0px;
}

.warning p {
	padding: 0px 0px 0px 0px;
	width: 280px;
	height: 22px;
	margin: 0px 0px 0px 0px;
	font-size: 11px;
	color: #777;
	vertical-align: middle;
	text-align: center;
	line-height: 15px;
}

.h_line {
	border-top: 1px solid #bbb;
	margin: 10px 0px;
	width: 290px;
}

.social_icons {
	width: 310px;
	height: 26px;
	display: inline-block;
}

.icons1 {
	width: auto;
	height: 24px;
	display: inline;
}

.icons1 a {
	width: auto;
	height: 24px;
	display: inline;
	text-decoration: none;
}

.bitly {
	height: 17px;
	width: 140px;
	display: inline;
}

.bitly p {
	height: 14px;
	width: 140px;
	font-size: 11px;
	color: rgb(0, 122, 172);
	font-weight: bold;
	float: right;
	margin: 5px 0px 0px 0px;
}

.bitly img {
	padding: 0px 6px 0px 0px;
	
}


/****** Learning  ************ */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/*ol.nicee {
  list-style-type: none;
  margin-left: 0;
}

ol.nicee > li { 
	list-style:none; 
	background-image:none; 
	padding-left:10px; 
	width: auto;
	display:inline;
}
*/

/****unique icons *******************/

.container_info {
    /* See "NOTE 3" */
    padding:20px;
    margin:20px auto;
    background:#fff;
}

.content_info h4 {
	position: relative;
	width: 130px;
	font-size: 13px;
	font-weight: bold;
	padding: 6px 0px 6px 14px;
	margin: -22px 10px 10px -7px;
	color: #fff;
	background-color: #FDD200;
	text-shadow: 0px 1px 2px #E3A900;
	-webkit-box-shadow: 0px 0px 0px #D39000;
	-moz-box-shadow: 0px 2px 4px #D39000;
	box-shadow: 0px 0px 0px #D39000;
	border-bottom: 1px solid #D39000;
}

.content_info h4:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -1px;
	top: 100%;
	border-width: 4px 4px;
	border-style: solid;
	border-color: #FDD200 #FDD200 transparent transparent;
}


/***************global elements *************/

.inline {
	display: inline-block;
	margin: 20px 0px 0px 0px;
}

.inline2 {
	display: inline-block;
	margin: 0px 0px 0px 0px;
}

.inline3 {
	display: inline-block;
}

.centering {
	width: 940px;
	margin: 0 auto;
}


/* footer */

.footer {
	width:100%;
	background: rgb(84,84,82);
}

.footer-blocks {
	width: 310px;
	/*border: 1px solid #ff0066;*/
	display: inline-block;
	margin-top:20px;
	margin-right: 83px;
}

.footer-blocks2 {
	height: 280px;
	width: 223px;
	/*border: 1px solid #ff0066;*/
	display: inline-block;
	margin-top:20px;
	margin-right: 83px;
}

.footer-blocks2:last-child {
  margin-right: 0;
}

.footer-blocks2 p {
	font-size: 12px;
	display: block;
	line-height: 14px;
	margin-bottom: 12px;
	white-space: pre-wrap;
}

h6 {
	font-size: 18px;
	color: #fff;
	padding:7px 0px 10px 0px;
	/*text-shadow: ;*/
}

.button {
	width: 140px;
	height: 39px;
	margin: 0px 14px 5px 0px;
	border-radius: 4px;
	background: #636362;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	box-shadow: inset 0px 1px 0px 0px #aaa;
	border: 1px solid #333;
	display: inline-block;
	text-shadow: 0px 1px 0px #333;
}

.button:hover {
	background: #434342;
	  text-shadow: 0 -1px 1px #2361a4;
}

.button:active {
	background: #838382;
}

.button:nth-child(odd) {
	margin: 0px 0px 5px 0px;
}

form {
	padding-top: 7px;
	margin-bottom: 19px;
}

.fancy-input {
	position: relative;
	display: inline-block;
	margin: 0px 0px 16px 0px;
}

/*.fancy-input input:focus {
	outline: none;
}*/

.fancy-input input {
    width:179px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px 0px 0px 8px;
    border-top: 1px solid #adadad;
    font-size: 13px;
    display: inline-block;
    box-shadow: inset 0px 2px 3px -1px #aaa;
    padding:8px 8px;
}

.fancy-input:after {
	content: "\2713";
	position: absolute;
	font-size: 26px;
	right: -40px;		
	top: 2px;
	width: 34px;
	padding-left: 7px;
	padding: 0px 0px 0px 7px;
	color: #fff;
	border-radius: 0px 8px 8px 0px;
	background: #acacac;
	z-index: 1000;
	display: inline-block;
}

.right-shadow {
	border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
	width: 37px;
	background:#ccc;
	border-top: 1px solid #adadad;
	color: #fff;
	font-size: 20px;
	text-align: center;
	box-shadow: inset 0.75px 1px 2px 0px #aaa;
	display: inline-block;
	margin-left: -5px;
	padding:8px 0px;
}

hr {
	border-top: 1px solid #333;
	border-bottom: none;
	border-right: none;
	border-left: none;
}

.footer-social {
	font-size: 14px;
	padding-left: 10px;
	display: inline-block;
	margin-top: 3px;
}

.footer p, h1, h6, a, .how-btn, span {
	color: #fff;
	text-decoration: none;
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
}

.button-main {
	border-radius: 5px;
	border: 1px solid #D39000;
	background: linear-gradient(to bottom, #FFE200 0%,#ffffff 1%,#FFE200 2%, #F4A600 100%); /* W3C */
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	/*box-shadow: inset 0px 1px 0px #fff;	*/
	box-shadow: 0px 1px 1px 0px #999;
	text-shadow: 0px 1px 1px rgba(183, 103, 0, 0.8);
}

.button-main:hover {
	background: #FFE200;
	text-shadow:text-shadow: 2px 4px 5px rgba(100, 100, 100, 1);
	cursor: pointer;
}

.how-btn {
	width: 218px;
	height: 50px;
}

.copyright {
	display: block;
	font-size: 13px;
	line-height: 18px;
}

.spacer {
	margin-bottom: 20px;
}

.main-events {
	height: 610px;
}

.centering > div, .main-events > .centering > div > div, img, span {
	display: inline-block;
}

.events-01 {
	width: 300px;
	margin:32px 10px 0px 0px;
}

.events-01:last-child {
	width: 300px;
	margin-top: 32px;
}

.events-01-info {
	width: 204px;
	padding-right: 21px;
	
}

.events-01-info h5 {
	font-size: 14px;
	letter-spacing: -1px;
	color: #333;
	font-weight: bold;
	margin: 5px 0px 0px 0px;
	line-height: 20px;
}

.events-01-info p {
	font-size: 12px;
	color: #777;
}

.events-01 img:last-of-type {
	padding-top: 6px;
}

.events-01 span {
	font-size: 12px;
	color: #333;
	margin-top: 7px;
	text-shadow: none;
}

.events-hr {
	margin: 30px 0px 0px 0px;
	border-color: #aaa;
}

.events-table {
	width: 624px;
}

h2 {
	color: #444;
	font-size: 23px;
	font-weight: 700;
	margin: 9px 0px 22px 0px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th:first-child, td:first-child {
	font-size: 15px;
	letter-spacing: -1px;
	font-weight: bold;
	color: #555;
}

tr:last-child td {
	border: none;
}

th:last-child, td:last-child {
	text-align: right;
}

th, td {
	font-weight: normal;
	color: #777;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
	text-align: left;
	padding: 9px 0px;
}

.how-it-works {
	height: 210px;
	width: 299px;
	background: linear-gradient(to bottom, rgba(208, 205, 199,1) 0%,rgba(208,205,199,1) 100%); /* W3C */
	margin: 19px 0px 0px 12px;
}

.how-title {
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0px 2px 2px rgba(1, 1, 1, 0.2);
	margin: 10px 0px 0px 22px;
}

.how-steps-overall {
	width: 265px;
	height: 70px;
	display: inline-block;
	margin-top: 18px;
	margin-left: 21px;
}

.how-steps {
	display: inline-block;
	margin-left: 13px;
}

.how-steps-background {
	width: 232px;
	height: 7px;
	z-index: 5;
	background: #BDBBB5;
}

.how-steps-button {
	position: relative;
	display: inline-block;
	padding: 6px;
	margin-right: 51px;
	margin-top: -10px;
	z-index: 10;
	height: 26px;
	width:26px;
	top: 0px;
	border-radius: 37px;
	color: #555;
	font-size: 19px;
	font-weight: bolder;
	text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.3);
	background: #E9E9E9;
	border: 1px solid #7F7B77;
	background: linear-gradient(to bottom, rgba(214,214,214,1) 0%,rgba(250,250,250,1) 100%); /* W3C */
	box-shadow: inset 0px 3px 0px 0px #fff, inset 0px -2px 0px 1px #E7E7E7, 0px 2px 1px 1px #aaa;
	text-align: center;
}

.how-steps-button:last-child {
	margin: -10px 0px 0px 0px;
	width:26px;
}

.how-steps-text {
	width: 260px;
	height: 30px;
	margin: 16px 0px 0px 0px;
	display: inline-block;
}

.how-steps-text-01{
	font-size: 11px;
	margin: 0px 20px 0px 0px;
	color: #333;
	width: 70px;
	text-align: center;
	display: inline-block;
}

.how-steps-text-01:last-child {
	margin: 0px -10px 0px 0px;
}

.how-button {
	margin: 10px 5px 5px 7px;
	border-radius: 4px;
	color: #0080B4;
	background: linear-gradient(to bottom, rgba(231,229,226,1) 0%,rgba(210,206,200,1) 100%); /* W3C */
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	box-shadow: inset 0px 1px 0px 0px #fff;
	border: 1px solid #7F7B77;
	display: inline-block;
	text-shadow: 0px 1px 0px #fff;
	padding: 10px 76px;
	font-size: 24px;
}

.how-button:hover {
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(180,186,180,1) 100%); /* W3C */
}
